Debug/
Release/
.settings/
*.project
*.cproject
*.prefs
*.sh
*.componentinfo.xml
*.atsuo
*.atsln
*.cproj
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.sln.docstates
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.lib
*.sbr
*.vssscc
*.DS_Store
Thumbs.db
Desktop.ini